<a href="https://colab.research.google.com/github/Anish-S-tech/my-ml-journey/blob/main/Pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
series1 = pd.Series()  #Creating empty series

data_series = [17,18,45,7]
series2 = pd.Series(data_series)

In [ ]:
print(series1)

In [ ]:
print(series2)

In [ ]:
data_df={"Name":['Jack','Jill','Joe'],"Age":[19,17,39]}

In [ ]:
dataframe1 = pd.DataFrame()  #Creating empty dataframe

dataframe2 = pd.DataFrame(data_df)

In [ ]:
print(dataframe1)

In [ ]:
print(dataframe2)

In [ ]:
print(dataframe2.index)      #Gives the range index of the dataframe

In [ ]:
df2_with_index=dataframe2.set_index('Name')   #Changes the index of dataframe from index no. (default) to Name
print(df2_with_index)

In [ ]:
print(df2_with_index.index)

In [ ]:
df2_reset_index=df2_with_index.reset_index()   #Resets all changes made with index
print(df2_reset_index)

In [ ]:
print(df2_with_index.loc['Jack'])      #Accessing using index labels
print(df2_reset_index.loc[0])

In [ ]:
#Accessing columns from dataframe

df2_name_column = df2_reset_index['Name']    # Normal list method (returns as Pandas Series)
df2_first_person = df2_reset_index.iloc[0]   # Accessing rows using index
print(df2_name_column)
print(df2_first_person)

In [ ]:
df2_multiple_row_col=df2_reset_index.loc[0:1,['Name','Age']]  #Prints name, age of rows of indices 0 and 1
print(df2_multiple_row_col)

In [ ]:
df2_greater_than_25=df2_reset_index[df2_reset_index['Age']>25]   # Selecting rows based on conditions
print(df2_greater_than_25)

In [ ]:
Age_at_index_2=df2_reset_index.at[2,'Age']    # Selecting specific values (here, Age at index 2) using at [for indexes, use iat[] function ]
print("Age =",Age_at_index_2)

In [ ]:
print(df2_reset_index[['Name','Age']])  # Selecting multiple columns (Specifically)

In [ ]:
print(df2_reset_index.loc[[0,2]])  # Selecting multiple rows (Specifically)

In [ ]:
print(df2_reset_index.loc[[0,2],['Name']])  # Selecting specific rows and columns

In [ ]:
print(df2_reset_index.loc[:,['Name']])  # Selecting all rows and specific columns (Use iloc[] for integer based accessing)

In [ ]:
df2_reset_index.head(2)  # Returns first n rows (here 2)

In [ ]:
df2_reset_index.tail(2)  # Returns last n rows (here 2)

In [ ]:
df2_reset_index.at[1,'Name']  # Accessing specific value at specific row and column

In [ ]:
result = df2_reset_index.query("Name == 'Jill' and Age >= 16")  # One of the conditional based selection
print(result)

In [ ]:
# Create a custom dataframe

player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

players = pd.DataFrame(player_list, columns=['Name','Age','Weight','Runs'])  # Giving column names using 'columns' parameter
print(players)

In [ ]:
data = players[players['Age']>35].iloc[0:3]   # Slicing based on conditions
print(data)

In [ ]:
display(players.loc[(players['Name'] == 'A.B.D Villers') & (players['Age'] > 35) & (players['Weight'] > 70)])  # '&' used for combining multiple conditions

In [ ]:
import numpy as np

filtered = np.where((players['Name'] == 'A.B.D Villers') & (players['Age'] > 35) & (players['Weight'] > 70))  # filtering based on multiple conditions using numpy
print(filtered)  # returns the datatype of result and which index it's matching

In [ ]:
display(players.query("Name == 'A.B.D Villers' & Age > 35 & Weight > 70"))  # Using .query() [works only with columns not row based]

In [ ]:
display(players[players.eval("Name == 'A.B.D Villers' & Age > 35 & Weight > 70")])   # using .eval() [this is also similar functionalities with .query()]

In [ ]:
data1 = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Msc', 'MA', 'MCA', 'Phd']}

data2 = {'Name': ['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'],
         'Age': [17, 14, 12, 52],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1, index=[0, 1, 2, 3])

df1 = pd.DataFrame(data2, index=[4, 5, 6, 7])

In [ ]:
res1=pd.concat([df,df1])  # Joining two tables using .concat() [df at top, df1 below df]
print(res1)

In [ ]:
res2=pd.concat([df,df1],axis=0)  # Horizontal merging
res3=pd.concat([df,df1],axis=1)  # Vertical merging
print(res2)
print()
print(res3)

In [ ]:
res4=pd.concat([df,df1],axis=1,join='inner')  # Inner join (intersection of two tables) [ returns if there's a common index between two tables]
print(res4)

In [ ]:
res5=pd.concat([df,df1],axis=0,join='outer')  # outer join (union of two tables)
display(res5)

In [ ]:
res6=pd.concat([df,df1],axis=1,sort=True)   # sorts based on index value (if axis=0, then sorts based on column value)
display(res6)

In [ ]:
res7=pd.concat([df,df1],ignore_index=True)  # ignores the indices of the table and creates indices using joined ones
display(res7)

In [ ]:
res8=pd.concat([df,df1],keys=['first_df','second_df'])
display(res8)

In [ ]:
import pandas as pd

data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

df = pd.DataFrame(data1,index=[0, 1, 2, 3])

s1 = pd.Series([1000, 2000, 3000, 4000], name='Salary')

display(df,s1)

In [ ]:
res9=pd.concat([df,s1],axis=1)
display(res9)

In [ ]:
import pandas as pd

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],}

data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1)

df1 = pd.DataFrame(data2)


print(df, "\n\n", df1)

In [ ]:
res10=pd.merge(df,df1,on='key')  # Joining two tables using merge() [on is used to merge based on a common column]
display(res10)

In [ ]:
import pandas as pd

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],}

data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1)

df1 = pd.DataFrame(data2)


print(df, "\n\n", df1)

In [ ]:
res11=pd.merge(df,df1,on=['key','key1'])  # searches for two values to be matched
display(res11)

In [ ]:
import pandas as pd

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],}

data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1)

df1 = pd.DataFrame(data2)


print(df, "\n\n", df1)

In [ ]:
res11=pd.merge(df,df1,how='left',on=['key','key1'])  # how = 'left' specifies it's a left join (right,outer,inner also available) [outer=union, inner = intersection]
display(res11)

In [ ]:
import pandas as pd


data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32]}

data2 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'],
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']}

df = pd.DataFrame(data1,index=['K0', 'K1', 'K2', 'K3'])

df1 = pd.DataFrame(data2, index=['K0', 'K2', 'K3', 'K4'])


print(df, "\n\n", df1)

In [ ]:
res12=df.join(df1)   # Combining two tables using .join() function
display(res12)

In [ ]:
res13=df.join(df1,how='outer')  # specifies the join type (inner,outer,left,right)
display(res13)

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Score': [85, 90, 95, 80]}
df = pd.DataFrame(data)

display(df)

In [ ]:
sorted_df1=df.sort_values(by='Age')    # sorting of values by specific column
display(sorted_df1)

In [ ]:
sorted_df2=df.sort_values(by='Age',ascending=False)   #sorting values in descending order
display(sorted_df2)

In [ ]:
sorted_df3=df.sort_values(by=['Name','Age'],ascending=False)   # sorting based on multiple columns
display(sorted_df3)

In [ ]:
import pandas as pd
data_with_nan = {"Name": ["Alice", "Bob", "Charlie", "David"],"Age": [28, 22, None, 22]}
df_nan = pd.DataFrame(data_with_nan)

In [ ]:
sorted_df4=df_nan.sort_values(by='Age',na_position='last')  # positioning null values using na_position ['first' if we want them first in sorted table and 'last' if we want last]
display(sorted_df4)

In [ ]:
sorted_df5=df_nan.sort_index()  # sorting the index using sort_index() [sort_index(ascending=False) for descending values]
display(sorted_df5)

In [ ]:
sorted_df6=df.sort_values(by='Age',kind='quicksort')  # kind = 'quicksort' tells to sort in quicksort
display(sorted_df6)

In [ ]:
sorted_df7=df.sort_values(by='Age',kind='mergesort')  # sorts based on mergesort [kind='heapsort' sorts based on heap sort]
display(sorted_df7)

In [ ]:
import pandas as pd
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [28, 22, 25, 22, 28],
    "Score": [85, 90, 95, 80, 88]
}
df = pd.DataFrame(data)

In [ ]:
sorted_df8=df.sort_values(by='Name',key=lambda col:col.str.lower())   # Applying custom logic using lambda function
display(sorted_df8)

In [ ]:
display(df)

In [ ]:
df = pd.DataFrame({'Product': ['Carrots', 'Broccoli', 'Banana', 'Banana',
                               'Beans', 'Orange', 'Broccoli', 'Banana'],
                   'Category': ['Vegetable', 'Vegetable', 'Fruit', 'Fruit',
                                'Vegetable', 'Fruit', 'Vegetable', 'Fruit'],
                   'Quantity': [8, 5, 3, 4, 5, 9, 11, 8],
                   'Amount': [270, 239, 617, 384, 626, 610, 62, 90]})
df

In [ ]:
pivot= df.pivot_table(index=['Product'],values=['Amount','Quantity'],aggfunc='sum')   # creating a pivot table using df.pivot_table() [this calculates sum of both amt and qty]
display(pivot)

In [ ]:
pivot2 = df.pivot_table(index=['Category'],values=['Amount','Quantity'],aggfunc='sum')  # pivot table for calculating total price and total quantity of category
display(pivot2)

In [ ]:
# pivot table - a table for summarizing the data based on some columns (sum,avg,mean,median,etc)
pivot3=df.pivot_table(index=['Product','Category'],values=['Amount'],
                      aggfunc={'mean','median','min','max'})
display(pivot3)

In [ ]:
# Creating a series from a dictionary
data = {'a': 1, 'b': 2, 'c': 3}
series = pd.Series(data)
display(series)

In [ ]:
# creating series using numpy function
import numpy as np
series2=pd.Series(np.linspace(1,10,10))
display(series2)

In [ ]:
# creating a series using range

series3=pd.Series(range(10,20) , index=[x for x in 'abcdefghij'])
display(series3)

In [ ]:
display(series2)
print('Second element:',series[1])

In [ ]:
print("First 5 elements:")
display(series2[:5])

In [ ]:
print("Last 2 elements:")
display(series2[-2:])

In [ ]:
print('Using labels:')
display(series3['a':'f'])

In [ ]:
s1=pd.Series([10,20,30])
s2=pd.Series([1,2,3])

#Arithmetic operations on series

res1=s1+s2  # Addition
res2=s1-s2  # Subtraction
res3=s1*s2  # Multiplication
res4=s1/s2  # division

In [ ]:
display(res1)
display(res2)
display(res3)
display(res4)

In [ ]:
s3=pd.Series([10,20,20,40,30])
s4=pd.Series([10,20,30,40,50])

# Comparison operations on series (returns boolean values)

res5=s3==s4
res6=s3>s4
res7=s3<s4

In [ ]:
display(res5)
display(res6)
display(res7)

In [ ]:
s5=pd.Series([True,False,True])
s6=pd.Series([True,False])

# logical operations on series

res8= s5 & s6
res9= s5 | s6
res10= s5 ^ s6

In [ ]:
display(res8)
display(res9)
display(res10)

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})
df2 = pd.DataFrame({'A': [5, 15, 35], 'B': [30, 60, 55]})

#Arithmetic operations on dataframes

df_res1 = df1+df2
df_res2 = df1-df2
df_res3 = df1*df2
df_res4 = df1/df2

In [ ]:
display(df_res1)
display(df_res2)
display(df_res3)
display(df_res4)

In [ ]:
# comparison operations on dataframes

df_res5=df1==df2
df_res6=df1>df2
df_res7=df1<df2

In [ ]:
display(df_res5)
display(df_res6)
display(df_res7)

In [ ]:
#logical operations on dataframes

df_res8=df1 & df2
df_res9=df1 | df2
df_res10=df1 ^ df2

In [ ]:
display(df_res8)
display(df_res9)
display(df_res10)

In [ ]:
# duplicate indexing in series

import pandas as pd

series = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon'])

# Creating the row axis labels
series.index = ['City 1', 'City 1', 'City 3', 'City 3']
print(series)

In [ ]:
display(series['City 1'])

In [ ]:
# retrieving index from series

data=['US','UK','India','Japan']
index=['c1','c2','c3','c4']

series2=pd.Series(data,index=index)
display(series2)

display(series2.index)

In [ ]:
series2.reset_index(drop=True,inplace=True)
display(series2)

In [ ]:
np_array=np.array([10,20,30,40])  # creating series using np array
series3=pd.Series(np_array)
display(series3)

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_test.csv')  # displays the details in the csv file
display(df)

In [ ]:
df1=pd.read_csv('/content/sample_data/california_housing_test.csv',index_col='total_bedrooms')  # displays the csv file with 'total_bedrooms' as index
display(df1)

In [ ]:
df2=pd.read_csv('/content/sample_data/california_housing_test.csv',na_values=['N/A','Unknown']) # replaces 'N/A' with 'Unknown'
display(df2)

In [ ]:
data = """totalbill_tip, sex:smoker, day_time, size
16.99, 1.01:Female|No, Sun, Dinner, 2
10.34, 1.66, Male, No|Sun:Dinner, 3
21.01:3.5_Male, No:Sun, Dinner, 3
23.68, 3.31, Male|No, Sun_Dinner, 2
24.59:3.61, Female_No, Sun, Dinner, 4
25.29, 4.71|Male, No:Sun, Dinner, 4"""

with open('data.csv','w') as f:
  f.write(data)
print(data)

In [ ]:
data=pd.read_csv('data.csv',sep='[:,|_]',engine='python')  # sep=[:,|_] tells that to seperate the values if you match any symbols inside[]
print(data)                                                # Engine = python says that to use python language to match regex (default= c)

In [ ]:
data=pd.read_csv('/content/sample_data/california_housing_test.csv',nrows=6)  # nrows=6 means to show first 6 rows
display(data)

In [ ]:
data=pd.read_csv('/content/sample_data/california_housing_test.csv',skiprows=[3,4],nrows=6) # skips rows 3 and 4
display(data)

In [ ]:
url = 'https://www.kaggle.com/datasets/lawrenceekeogu/sales-dataset?select=nigeria_messy_sales_dataset.csv'
data=pd.read_csv(url)
display(data)

In [ ]:
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]

dict = {'name': nme, 'degree': deg, 'score': scr}

df = pd.DataFrame(dict)

In [ ]:
df.to_csv('read.csv')  # writes the dataframe to csv file named read.csv

In [ ]:
df.to_csv('read2.csv',header=False,index=False)  # writes the dataframe to csv file without headers and index

In [ ]:
df.to_csv(r'C:\Users\HP\files3.csv')  # stores file to a specific system location

In [ ]:
df.to_csv('read3.csv',sep='|',header=False,index=True)  # exports based on seperator

In [ ]:
df.to_csv('read4.csv',columns=['name'])  # exports only selected columns

In [ ]:
df.to_csv('read5.csv',na_rep='Nothing') # replaces null values (NaN) with 'Nothing'

In [ ]:
json_data=pd.read_json('/content/sample_data/anscombe.json')  # reading a json file using read_json()
display(json_data)

In [ ]:
import json

data = {"One": {"0": 60, "1": 60, "2": 60, "3": 45, "4": 45, "5": 60},
        "Two": {"0": 110, "1": 117, "2": 103, "3": 109, "4": 117, "5": 102}}

json_data=json.dumps(data)  # converts python object into json format

normalized_df=pd.json_normalize(json.loads(json_data))  # json.loads() converts python object [most probably lists] to json format
display(normalized_df)  # json_normalize() - flattens the json data into a tabular format

In [ ]:
data = {"One": {"0": 60, "1": 60, "2": 60, "3": 45, "4": 45, "5": 60},
        "Two": {"0": 110, "1": 117, "2": 103, "3": 109, "4": 117, "5": 102}}

json_df = pd.DataFrame(data)  # converting json data into a dataframe (honestly, dictionary to dataframe)
display(json_df)

In [ ]:
df=pd.DataFrame([[1,2],[3,4]],index=['row1','row2'],columns=['col1','col2'])
display(df)

# different orientation methods of converting dataframe into json format

df1=df.to_json(orient='split')  # dictionary with indices, columns and data
df2=df.to_json(orient='index')  # dictionary with row indices
df3=df.to_json(orient='records') # list of dictionaries
df4=df.to_json(orient='columns') # dictionary with column labels
df5=df.to_json(orient='table')  # json table schema

print(df1)
print(df2)
print(df3)
print(df4)
print(df5)

In [ ]:
import requests

url = 'https://jsonplaceholder.typicode.com/posts'
response = requests.get(url)

data=pd.json_normalize(response.json())   # response.json() - parsing json data
display(data)

In [ ]:
import json

with open ('/content/sample_data/anscombe.json') as f:
  data=json.load(f)  # loads a raw json data into python dictionary (use it in data related to file)

df=pd.json_normalize(data)
display(df)

#print(type(data))

In [ ]:
df = pd.DataFrame(data=[
    ['15135', 'Alex', '25/4/2014'],
    ['23515', 'Bob', '26/8/2018'],
    ['31313', 'Martha', '18/1/2019'],
    ['55665', 'Alen', '5/5/2020'],
    ['63513', 'Maria', '9/12/2020']],
    columns=['ID', 'NAME', 'DATE OF JOINING'])

df.to_json('json1.json',compression='infer',orient='split')
display(df)

df = pd.read_json('json1.json',compression='infer',orient='split')
display(df)

# different compression methods (tells how to compress the file while reading or writing)

# compression = 'infer' [tells to look at the file extension given in the filename ex. json1.json has .json extension, so compress it as json]
# compression = 'gzip' [gzip compression]
# compression = 'zip' [zip compression]
# compression = 'bz2' [bz2 compression]
# compression = 'xz' [lzma/xz compression]
# compression = 'None' [plain file]

In [ ]:
df = pd.read_excel('/content/file_example_XLSX_10.xlsx')  # reading xlsx files
display(df)

In [ ]:
df1 = pd.read_excel('/content/file_example_XLS_10.xls',sheet_name = 0,index_col=0)  # sheet_name is useful when we have two sheets in the same excel sheet
df2 = pd.read_excel('/content/file_example_XLS_10.xls',sheet_name = 1,index_col=0)

concatted = pd.concat([df1,df2])
print(concatted)

In [ ]:
display(df.shape) # returns no.of rows and cols in the form of (rows,cols)

In [ ]:
df.describe()  # returns statistical information about the dataframe

In [ ]:
data = pd.read_table('sample3.txt') # read_table for reading text files
display(data)

In [ ]:
df1 = pd.read_fwf('sample3.txt') # read_fwf() = read fixed width files
display(df1)

In [ ]:
df=pd.read_table('/content/sample3.txt')

df.to_csv('read6.csv',index = None)  # converting txt file to csv file

In [ ]:
import numpy as np

d = {'First score' : [100,90,np.nan,80],
     'Second score' :[30,39,91,np.nan],
     'Third score' : [np.nan,40,80,98]}

df = pd.DataFrame(d)
display(df)

In [ ]:
is_null_table = df.isnull()  # checks if the table contains null value or not
display(is_null_table)   # df.isna() is also does the same as df.isnull()

In [ ]:
boolean_series=pd.isnull(df['First score'])  # checking for null values in a specific column
display(boolean_series)  # pd.isna(df['col']) is also does the same function as this

In [ ]:
not_null_table = df.notnull()  # checks if the table contains not null value or not
display(not_null_table)

In [ ]:
bool_not_null = pd.notnull(df['Second score']) # checks for specified column
display(bool_not_null)

In [ ]:
display(df)
display(df.fillna(0))  # df.fillna(val) fills 'NaN' with val (0 here)

In [ ]:
display(df)
display(df.fillna(method='bfill'))  # fills 'NaN' with next value of the column
display(df.fillna(method='pad'))    # fills 'NaN' with previous value of the column

In [ ]:
df['Third score'].fillna('No value',inplace = True)  # column specific filling (here only on 'Third score')
display(df)

In [ ]:
display(df.replace(to_replace=np.nan,value='None')) # replaces 'NaN' with 'None' using .replace()

In [ ]:
display(df)
df.interpolate(method='linear',directional_link='forward')  # interpolate() method assumes the value based on previous and next values
# directional_link = 'forward' says to fill it from top to bottom, 'backward' says to fill it from bottom to top! 'both' is also available

In [ ]:
dictionary = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score': [52, 40, 80, 98],
        'Fourth Score': [np.nan, np.nan, np.nan, 65]}

df=pd.DataFrame(dictionary)
display(df)

In [ ]:
display(df.dropna())  # removes rows which contain atleast one null value

In [ ]:
display(df)
display(df.dropna(how='all'))  # drops rows which contains all values as null

In [ ]:
display(df.dropna(axis=1)) # dropping columns with missing values

In [ ]:
display(df.dropna(how='all',axis=1)) # dropping columns which contains all values as null [how='any' also available]

In [ ]:
data = {
    "Name": ["Alice", "Bob", "Alice", "David"],
    "Age": [25, 30, 25, 40],
    "City": ["NY", "LA", "NY", "Chicago"]
}

df = pd.DataFrame(data)
display(df.drop_duplicates()) # removes duplicates entries in a row

In [ ]:
display(df.drop_duplicates(subset=['Age'])) # removes the rows if duplicate rows in df['Age'] is found

In [ ]:
display(df.drop_duplicates(keep='last'))  # keeps last entry and removes any duplicates other than that [default: keep='first']

In [ ]:
display(df.drop_duplicates(keep=False)) # removes all duplicates entries (without leaving a single copy)

In [ ]:
display(df.drop_duplicates(subset=['Name','Age'])) # removes if both name and age contains same values

In [ ]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data)
display(df)

In [ ]:
df['Age'] = df['Age'].astype(float) # .astype() converts 'int' into 'float' [No inplace option here]
display(df)

In [ ]:
df['Join Date'] = ['2021-01-01', '2020-05-22', '2022-03-15', '2021-07-30', '2020-11-11']
display(df)

df['Join Date'] = pd.to_datetime(df['Join Date'])  # converts string to datetime format
display(df)

In [ ]:
df = df.astype({'Age': 'int64', 'Salary': 'float64'})  # converting multiple column's datatypes in a single statement
display(df)

In [ ]:
df = pd.DataFrame({'FirstName': ['Vipul', 'Ashish', 'Milan'],
                            "Gender": ["", "", ""],
                            "Age": [0, 0, 0],
                            "department":[np.nan,np.nan,np.nan]})

display(df)

df.dropna(how='all',axis=1,inplace = True)  # removes the column which contains all entries as null
display(df)

In [ ]:
df = pd.DataFrame({'FirstName': ['Vipul', 'Ashish', 'Milan'],
                            "Gender": ["", "", ""],
                            "Age": [0, 0, 0],
                            "department":[np.nan,np.nan,np.nan]})

display(df)

df.replace(to_replace="",value=np.nan,inplace=True)  # replaces empty string with null value (Using this method, we can remove values what we want)
display(df)

df.replace(to_replace=0,value=np.nan,inplace=True)  # replaces 0 with null vale
display(df)

df.dropna(how='any',axis=1,inplace=True)
display(df)

In [ ]:
import pandas as pd
import numpy as np

data = {'Names': ['Gulshan', 'Shashank', 'Bablu', 'Abhishek', 'Anand', np.nan, 'Pratap'],
        'City': ['Delhi', 'Mumbai', 'Kolkata', 'Delhi', 'Chennai', 'Bangalore', 'Hyderabad']}

df = pd.DataFrame(data)
display(df)

In [ ]:
df['Names'].astype('string')

In [ ]:
# string operations
df["Names"].str.lower()

In [ ]:
df["Names"].str.upper()

In [ ]:
df["Names"].str.strip()

In [ ]:
df['split_names'] = df["Names"].str.split('a')
display(df)

In [ ]:
df["Names"].str.len()

In [ ]:
df['Names'].str.cat(sep=',')

In [ ]:
df['City'].str.get_dummies()

In [ ]:
df['Names'].str.startswith('B')

In [ ]:
df['City'].str.endswith('e')

In [ ]:
display(df['Names'])
df['Names'].str.replace('Pratap','Gaurav')

In [ ]:
df['Names'].str.repeat(2)

In [ ]:
df['Names'].str.count('a')

In [ ]:
df['Names'].str.find('G')

In [ ]:
df['Names'].str.findall('a')

In [ ]:
df['Names'].str.islower()

In [ ]:
df['Names'].str.isupper()

In [ ]:
df['City'].str.isnumeric()

In [ ]:
df['Names'].str.swapcase()

In [ ]:
display(df)

In [ ]:
df.str.swapcase()  # if we want to use like this, all the columns in the dataframe must be in string datatype

In [ ]:
data_frame = pd.DataFrame( [['tom', 10], ['nick', '15'], ['juli', 14.8]], columns=['Name', 'Age'])

for column in data_frame.columns:    # traverses through each column
  print(column , ':' , pd.api.types.infer_dtype(data_frame[column]))  # pd.api.types.infer_dtype() - identifies the datatype of column

  # the mix in datatypes can be treated by using .astype() - converts into any datatype , .to_numeric() - converts into numeric datatypes

In [ ]:
display(dataframe2)
print()
display(dataframe2.info())  # gives the summary of the dataframe

In [ ]:
dataframe = pd.read_csv('/content/Mall_Customers.csv')

In [ ]:
display(dataframe.head(5)) # first 5 rows
display(dataframe.tail(5)) # last 5 rows

In [ ]:
display(list(dataframe.columns))  # column names of dataframe

In [ ]:
dataframe.describe() # statistical measures of a dataframe

In [ ]:
dataframe.isnull() # checks for null values

In [ ]:
dataframe.isnull().sum() # finds number of missing values in dataframe

In [ ]:
dataframe = dataframe.dropna() # removes rows containing missing rows

In [ ]:
dataframe.head(5)

In [ ]:
dataframe.drop(1).head()  # drop(index) - drops the row of index value

In [ ]:
dataframe.rename({0:"First",2:"Second"},inplace=True)  # renaming the row index
dataframe.head(5)

In [ ]:
dataframe['New column'] = 1  # adding new column and assigns 1 to all the rows in it
dataframe.head(5)

In [ ]:
def satisfied(val):
  if val>=70:
    return 'Yes'
  else:
    return 'No'

In [ ]:
dataframe['customer_satisfaction'] = dataframe['Spending Score (1-100)'].apply(satisfied)
# apply(func_name) - used to apply a function to all entries of a dataframe

In [ ]:
dataframe.head(5)

In [ ]:
dataframe['condition_met_or_not'] = dataframe['Spending Score (1-100)'].apply(lambda x: 'Yes' if x>=70 else 'No')
# apply is also used to call lambda functions also

In [ ]:
dataframe.head(5)

In [ ]:
dataframe.plot(x='CustomerID',y='Age',kind='bar')  # bar graph

In [ ]:
dataframe.plot(x='CustomerID',y='Age',kind='scatter')  # scatter plot

In [ ]:
dataframe.plot.hist()  # histogram for all columns

In [ ]:
dataframe.plot(x='CustomerID',y='Age',kind='hist')  # histogram

In [ ]:
# Normalization is the process of transforming values to a standard scale without distorting differences in the ranges of values

# normalized_value = (value - min_value) / (max_value - min_value)

# all values lies between 0 to 1 after normalization

import matplotlib.pyplot as plt

df = pd.DataFrame([
    [180000, 110, 18.9, 1400],
    [360000, 905, 23.4, 1800],
    [230000, 230, 14.0, 1300],
    [60000, 450, 13.5, 1500]
], columns=['Col A', 'Col B', 'Col C', 'Col D'])

display(df)

df.plot(kind='box')
plt.show()

In [ ]:
# normalization techniques

# 1. maximum absolute scaling (also called as Decimal scaling)

# formula = x/(x.max()).abs()  [x / maximum absolute value of x]

max_scaled = df.copy()

for column in max_scaled.columns:
  max_scaled[column] = df[column] / df[column].abs().max()

display(max_scaled)
max_scaled.plot(kind='bar')
plt.show()

In [ ]:
# 2. min-max normalization (also called as feature scaling)

# formula = x - max(x) / max(x) - min(x)

min_max_scaled = df.copy()

for column in min_max_scaled.columns:
  min_max_scaled[column] = (df[column] - df[column].min()) / (df[column].max() - df[column].min())

display(min_max_scaled)
min_max_scaled.plot(kind='bar')
plt.show()

In [ ]:
# 3. z-score method (also called as standardization)

# Converts data into values with mean as 0 and standard deviation as 1

# formula: z = (x - mean(x)) / std(x)

z_scaled = df.copy()

for column in z_scaled.columns:
  z_scaled[column] = (z_scaled[column] - z_scaled[column].mean()) / z_scaled[column].std()

display(z_scaled)
z_scaled.plot(kind = 'bar')
plt.show()

In [ ]:
student = pd.DataFrame()

student['Score'] = [99,87,91,73,61]
student['Age'] = [19,17,21,18,16]


display(student)

In [ ]:
display(student.shape) # returns dimension of table (row,col)
display(student.info()) # returns the data about the dataframe
display(student.corr()) # returns the correlational matrix (how one column is related to another)
display(student.describe()) # returns statistical data about the dataframe

In [ ]:
data = {'product category' : ['Electronics','Furniture','Electronics','Furniture'],'Sales' : [200,150,300,100]}
df = pd.DataFrame(data)

display(df)

result = df.groupby(by='product category')['Sales'].sum()  # performs group by function on 'Sales' with 'product category' as index
display(result)

In [ ]:
import pandas as pd
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

team = df.groupby('Team')
display(team.first()) # Let's print the first entries in all the groups formed.

In [ ]:
grouping = df.groupby(['Team','Position'])
display(grouping.first())

In [ ]:
aggregated_data = df.groupby(['Team', 'Position']).agg(
    total_salary=('Salary', 'sum'),
    avg_salary=('Salary', 'mean'),
    player_count=('Name', 'count')
)

display(aggregated_data)

In [ ]:
df['rank within team'] = df.groupby('Team')['Salary'].transform(lambda x : x.rank(ascending=False))

# transform() - similar to partition by in sql

display(df)

In [ ]:
filtered_df = df.groupby('Team').filter(lambda x : x['Salary'].mean() >= 10000)

# filter() = similar to group by ... having in sql

display(filtered_df)

In [ ]:
# various aggregate functions

# sum() -	Compute sum of column values
# min() -	Compute min of column values
# max()	- Compute max of column values
# mean() -	Compute mean of column
# size() -	Compute column sizes
# describe() -	Generates descriptive statistics
# first() -	Compute first of group values
# last() -	Compute last of group values
# count() -	Compute count of column values
# std()	- Standard deviation of column
# var()	- Compute variance of column
# sem()	- Standard error of the mean of column

In [ ]:
df = {
    "Array_1": [30, 70, 100],
    "Array_2": [65.1, 49.50, 30.7]
}

df=pd.DataFrame(df)

display(df.corr()) # returns correlational matrix

In [ ]:
df.corr(method='pearson') # returns pearson correlational matrix

In [ ]:
df.corr(method='kendall') # returns kendall correlational matrix

In [ ]:
df.corr(method='spearman') # returns spearson correlational matrix

In [ ]:
# syntax of df.corr() = df.corr(method='pearson',min_periods=1,numeric_only=False)

# method = specifies the method to find correlational matrix (pearson, kendall, spearman)
# min_periods = min. number of observations required per pair of columns to have a valid result
# numeric_only = instructs whether it operates only on numeric data or not

In [ ]:
df.plot() # line plot

In [ ]:
df.plot(kind='line') # both gives same result

In [ ]:
df.plot(kind='area',alpha=1)  # area plot (alpha is the measure of transparency)

# df.plot.area(alpha=1) also gives the same result

In [ ]:
df.plot(kind='bar') # bar plot

# df.plot.bar() also gives the same result

In [ ]:
df.plot(kind='hist',bins=3)   # plots a histogram

# df.plot.hist(bins=3) also gives same result

In [ ]:
df.plot(kind='scatter',x='Array_1',y='Array_2') # scatter plot

# df.plot.scatter(x='Array_1',y='Array_2) also gives same thing

In [ ]:
df.plot(kind='box')  # box plot

# df.plot.box() also works fine

In [ ]:
df.plot(kind='hexbin',x='Array_1',y='Array_2',gridsize=20)  # hexagonal bin plots

# df.plot.hexbin(x='Array_1',y='Array_2',gridsize=20) works fine

In [ ]:
df.plot(kind='kde')  # kernel density estimation

# df.plot.kde() also works well

In [ ]:
df.plot(title='sample line chart',xlabel='array1',ylabel='array2',grid=True)

# title - gives the title of the plot
# xlabel - name given for x axis
# ylabel - name given for y axis
# grid = True (shows grid if grid = True)

In [ ]:
df.plot.line(style=[':','-.'],title='line plot with different styles',xlabel='array1',ylabel='array2')

# style = [] gives a list of styles to be applied on line plot

In [ ]:
df.plot(figsize=(12,12),title='line plot with different styles',xlabel='array1',ylabel='array2')

# figsize = () adjusts the size of the plot

In [ ]:
df.plot(kind='bar',stacked=True, figsize=(10, 6), title='Stacked Bar Plot', xlabel='Index', ylabel='Values', grid=True)

# gives stacked bar chart

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

dr = pd.date_range(start = '1/1/2025', end = '16/8/2025', freq='s')
display(dr)
print()
display(type(dr))

In [ ]:
# different values to be given to freq = ''

    #   Code	        Meaning	                      Example Interval

    #   D	          Calendar day	                2025-01-01, 2025-01-02, ...
    #   H	          Hour	                        00:00, 01:00, 02:00
    #   T or min	  Minute	                      Same as 'Min'
    #   S	          Second	                      Every second
    #   MS	        Month start	                  1st of each month
    #   M	          Month end	                    Last day of month
    #   QS	        Quarter start	                Jan 1, Apr 1, ...
    #   Q or QE	    Quarter end	                  Mar 31, Jun 30, ...
    #   Y or A	    Year end	                    31-Dec every year
    #   AS	        Year start	                  1-Jan each year
    #   W	          Weekly (end of week: Sunday)	Every Sunday
    #   W-MON	      Weekly on Monday	            Every Monday
    #   B	          Business day (MonFri)	      Skips weekends

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

dr = pd.date_range(start = '1/1/2025', end = '16/8/2025', freq='min')
df = pd.DataFrame(dr,columns=['dates'])  # creates a dataframe on date_ranges

df['rand_values'] = np.random.randint(0,100,size=len(dr))  # random values to label the dates

s = [str(date) for date in dr]  # converts all date into
display(s[:10])
print()
display(df.head(5))

In [ ]:
# accessing specific date

df.set_index('dates', inplace=True)    # sets the index as dates column

display(df.loc['2025-08-16'])  # Correct format to access August 16, 2025